@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Goldman:wght@400;700&family=Handjet:wght@100..900&family=Nova+Square&family=Saira+Stencil+One&family=Smooch+Sans:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --yellow: #f8c749;
    --blue: #b7e4f5;
    --Blue: #7bb8e0;
}

body{
    overflow: hidden;
    padding-top: 60px;
}

.text {
    color: var(--Blue);
    display: block;
    position: relative;
    z-index: 3;
    text-align: center;
    font-family: "Nova Square";
    font-style: normal;
    font-size: 1em;
}

.stars, .flicker{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars{
    background: #000 url(../img/stars.png) repeat top center;
    z-index: 0;
}

.flicker{
    background: transparent url(../img/flicker.png) repeat top center;
    z-index: 1;
    animation: star-flicker 24s linear infinite;
    overflow: auto;
}

@keyframes star-flicker{
    from {background-position: 0 0;};
    to {background-position: -10000px 5000px;};
}

h1 {
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--yellow);
    line-height: 150px;
    font-size: 40px;
    filter: drop-shadow(0 0 3px var(--yellow));
    padding: 20px;
}

.nav{
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    border-radius: 20px;
}

.nav > * {
    font-family: "Goldman";
    font-style: normal;
    justify-content: center;
    display: block;
    background-color: var(--Blue);
    border: 2px solid black;
    border-radius: 7px;
    font-size: 2vh;
    margin-bottom: 1vh;
    color: white;
    overflow-x: auto;
    text-justify: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    overflow: hidden;
    width: 90vw;
    margin: auto;
    padding-bottom: 100px;
}

.grid > *{
    position: relative;
    justify-content: center;
    margin-bottom: 5vh;
    padding-top: 20vh;
    margin: 2%;
}

.grid-item-list{
    list-style: none;
    margin-bottom: 50px;
    margin-left: 0;
    padding-left: 0;
}

li{
    margin-bottom: 20px;
    z-index: 2;
    list-style-type: none;
}

a:link, a:visited{
    display: inline-block;
    color: black;
    text-decoration: none;
}

h2{
    font-family: "Goldman";
    font-style: normal;
    color: var(--blue);
    padding: 10px;
}

a{
    display: inline-block;
    padding: 0;
    border-radius: 5px;
    padding: 1vh 2vw;
}

a:hover, a:active{
    background-color: var(--yellow);
    color: black;
}

h3{
    color: var(--yellow);
    border: 3px double var(--yellow);
    padding: 20px;
}

strong {
    color: var(--yellow);
}

em{
    color: var(--blue);
}

.footer{
    background: black;
    margin-bottom: 60px;
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    color:white;
    padding: 20px;
    font-size: .8em;
}

.footer-link:link, .footer-link:visited{
    color: white;
}

.footer-link:hover, .footer-link:active{
    color: black;
}

br{
    line-height: 1em;
}

.nav-container{
    border: 5px solid white;
    border-radius: 20px;
    top: 0;
    position: sticky;
    background-color: #000;
    z-index: 10;
    filter: drop-shadow(0 5px 10px white);
    padding-bottom: 10px;
}

img{
    width: 29vw;
    height: auto;
    border: 5px solid black;
    margin: 50px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

img:hover{
    filter: drop-shadow(0 0 10px var(--yellow));
    border-color: var(--yellow);
}


@media screen and (max-width: 763px) {
    h1{
        line-height: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .grid{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    #a1, #b1, #c1, #d1, #e1, #f1, #g1, #h1, #i1, #j1{
        margin-top: 10px;
        margin-bottom: -70px;
    }

    #a2, #b2, #c2, #d2, #e2, #f2, #g2, #h2, #i2, #j2{
        margin-top: -70px;
        margin-bottom: 100px;
    }

    img{
        width: 50vw;
    }
}